<h1>Editing post</h1>
<%= form_for @post, :url => admin_board_post_path(@board,@post) do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
<%= link_to 'Show', board_post_path(@board,@post) %> |
<%= link_to 'Back', board_posts_path(@board) %>
